

/* --------------------------------图片-------------------------------- */

.internal-embed img:not([width]), .internal-embed audio, .internal-embed video {
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;*/
    max-width: 70%;
    right: -50%;
    position: relative;
    transform: translateX(-50%);
}

img {
    right: -50%;
    position: relative;
    transform: translateX(-50%);
}


/* ---------------------------------------------------------------------- */


.cm-strong {
    font-weight: var(--bold-weight);
    color: #8B6CEF;
}

.markdown-source-view.mod-cm6 hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0 0 0 / 25%), rgba(0, 0, 0, 0));
}

.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight {
    background-color: var(--text-highlight-bg);
    color: var(--text-normal);
    padding: 2px;
    vertical-align: baseline;
    border-radius: 6px;
}

/* --------------------------------行内代码-------------------------------- */

.cm-s-obsidian span.cm-inline-code {
    color: #e84060;
    font-size: var(--code-size);
    background-color: #d27aaa24;
    padding: 2px;
    vertical-align: baseline;
    border-radius: 6px;
}
/* ---------------------------------------------------------------------- */


.workspace-tab-header-inner-title {
    flex: 1 1 auto;
    font-size: var(--tab-font-size);
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}


h2, .markdown-rendered h2 {
    border-bottom: 1px solid #e0e0e080;
    margin: 1.5em 0 .5em;
    padding-bottom: 1px;
}

.HyperMD-header-2, .inline-title[data-level='2'], .HyperMD-list-line .cm-header-2 {
    line-height: 2;
}


.markdown-source-view.mod-cm6.is-live-preview .cm-hashtag.cm-meta, .markdown-source-view.mod-cm6 .cm-hmd-internal-link .cm-underline, .markdown-source-view.mod-cm6 .cm-link .cm-underline, .markdown-source-view.mod-cm6 .cm-url .cm-underline {
    font-family: 'Cascadia';
}
/* --------------------------------引用块---------------- */
.markdown-rendered blockquote {
    color: #646464a8;
    font-style: var(--blockquote-font-style);
    background-color: #f9f9f9;
    border-left: 5px solid #adbdc9;
    padding: 0 0 0 var(--size-4-6);
    border-radius: 10px;
    font-family: "LXGW WenKai";
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
    color: #646464a8;
    font-style: var(--blockquote-style);
    background-color: #f9f9f9;
    border-radius: 10px;
    font-family: "LXGW WenKai";
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before, .markdown-source-view.mod-cm6 .cm-blockquote-border:before {
    content: "\200b";
    display: block;
    width: 1px;
    border-left: 5px solid #adbdc9;
    position: absolute;
    top: 0;
    bottom: 0;
}
/* -------------------------------------------------------------------------------------------------- */


/* -----------------------callout--------------------------- */

.callout {
    border-left: 5px solid #00BFA6;
    background-color: transparent;
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, .05) 0 .2rem .5rem, rgba(0, 0, 0, .1) 0 0 .05rem;
    box-sizing: border-box;
    break-inside: avoid;
    line-height: 1.7;
    outline: 1px solid transparent;
    margin: 1em 0;
    outline: 1px solid transparent;
    overflow: hidden;
    padding: 0;
    tab-size: 4;
  }
  .callout-title {
    background-color: #00bfa61a;
    border: 0 solid #E5E7EB;
    column-gap: 4px;
    margin: 0;
    padding: 12px 0 12px 12px;
    row-gap: 4px;
    tab-size: 4;
  }
  .callout-content {
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    line-height: 1.7;
    margin: 0;
    padding: 5px 1em 5px 1em;
    tab-size: 4;
  }
/* -------------------------------------------------- */


/* ----------------------------Tables---------------------------------- */
.markdown-rendered table {
    border-collapse: collapse;
    /*text-align: center;*/
    margin: auto;
  }
  
  .markdown-rendered thead tr > th {
    border-top-width: var(--table-header-border-width);
    background: #324960;
    color:#FFFFFF;
  }
  
  .markdown-rendered thead tr > th:nth-child(2n+2) {
    background: #324960;
    color:#FFFFFF;
  }
  .markdown-rendered thead tr > th:first-child {
    background: #324960;
    color:#FFFFFF;
  }
  .markdown-rendered thead tr > th:last-child {
    background: #324960;
    color:#FFFFFF;
  }
  
  .markdown-rendered tbody tr:nth-child(odd) {
    /*background-color: var(--table-row-alt-background);*/
    background: #F8F8F8;
  }
  /* ------------------------------------------------------------------- */
