body {
  /* Font */
  --font-text-size: 16px;
  --font-default: "Noto Sans", "Noto Sans SC", "圆体", "Microsoft YaHei";
  --font-interface: var(--font-default);
}

/* 标题样式 */
.published-container .markdown-rendered h1, .published-container .markdown-rendered h2 {
    font-weight: bold; /* 字体加粗 */
    color: #3A4F5F; /* 字体颜色 */
    background-color: #F2F3E9; /* 背景颜色 */
    display: inline-block; /* 使其与背景色包裹匹配 */
    padding: 10px 20px; /* 内边距 */
    border-bottom: 5px solid #A3C43E; /* 下划线效果 */
    border-radius: 15px; /* 圆角 */
}

b,
strong {
  font-weight: var(--bold-weight);
  color: #8B6CEF;
}

i,
em {
  font-style: italic;
  color: #A68AF9;
}


hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0 0 0 / 25%), rgba(0, 0, 0, 0));
}
.markdown-rendered hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0 0 0 / 25%), rgba(0, 0, 0, 0));
}


/*highlith*/
.markdown-rendered mark {
/* 
  background-color: var(--text-highlight-bg);
  color: var(--text-normal);
  padding: 2px;
  vertical-align: baseline;
  border-radius: 6px;
 */
  background-color: unset;
  background-image: linear-gradient(120deg, #43d3ffab, #baaaff8a);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 40%;
}

/* ------------------------------图片----------------------------------- */
.markdown-preview-view img, .markdown-rendered img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  right: -50%;
  position: relative;
  transform: translateX(-50%);
  /*max-width: 70%;*/
}
/* ------------------------------------------------------------------- */


/* -----------------------------引用块---------------------------------- */
.markdown-rendered blockquote {
    color: #646464a8;
    font-style: var(--blockquote-font-style);
    background-color: #f9f9f9;
    border-left: 5px solid #adbdc9;
    padding: 0 0 0 10px;
    border-radius: .3rem;
    font-family: "LXGW WenKai";
    margin-inline-start: 0;
    margin-inline-end: 0;
/*     box-shadow: rgba(0, 0, 0, .05) 0 .2rem .5rem, rgba(0, 0, 0, .1) 0 0 .05rem; */
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before, .markdown-source-view.mod-cm6 .cm-blockquote-border:before {
    content: "\200b";
    display: block;
    width: 1px;
    border-left: 5px solid #adbdc9;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* ------------------------------------------------------------------- */



/* ------------------------------Code----------------------------------- */
/* 
code[class*="language-"], pre[class*="language-"] {
    border-style: dashed;
    border-color: #a29d9d3b;
}
 */


.markdown-rendered pre {
    border-style: dashed;
    border-color: #a29d9d3b;
}


/* .markdown-rendered code {
  color: #e84060; 
   background-color: #d27aaa24;
   border-radius: 6px;*/
  /*color:rgba(100, 100, 100, 0.75);*/
  /*color:#454257;*/
  /*background-color:rgba(135, 45, 230, 0.1);*/
  /* font-family: var(--font-monospace);
  /* b 
  background-color: #00bfbc1a; 
  border-radius: var(--code-radius);
  font-size: var(--code-size);
  padding: 0.1em 0.25em;
}*/
/* ------------------------------------------------------------------- */



/* ------------------------------界面----------------------------------- */

.published-container {
  --page-width: 1000px;
  --sidebar-left-width: 280px;
  --sidebar-right-width: 250px;
}

.site-body-right-column .site-body-right-column-inner {
  padding: 0 10px;
}

.publish-renderer > .markdown-preview-view > .markdown-preview-sizer {
  padding: 0 15px 0 35px;
}

.site-body-left-column-site-name {
  text-align: center;
}

.site-body-left-column-site-name {
  padding: 8px;
}

.site-body-left-column {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.workspace-tab-header-inner-title {
  flex: 1 1 auto;
  font-size: var(--tab-font-size);
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
/* ------------------------------------------------------------------- */


/* ----------------------------Tables---------------------------------- */
.markdown-rendered table {
  border-collapse: collapse;
  /*text-align: center;*/
  margin: auto;
}

.markdown-rendered thead tr > th {
  border-top-width: var(--table-header-border-width);
  background: #324960;
  color:#FFFFFF;
}

.markdown-rendered thead tr > th:nth-child(2n+2) {
  background: #324960;
  color:#FFFFFF;
}
.markdown-rendered thead tr > th:first-child {
  background: #324960;
  color:#FFFFFF;
}
.markdown-rendered thead tr > th:last-child {
  background: #324960;
  color:#FFFFFF;
}

.markdown-rendered tbody tr:nth-child(odd) {
  /*background-color: var(--table-row-alt-background);*/
  background: #F8F8F8;
}
/* ------------------------------------------------------------------- */

/* ----------------------------callout---------------------------------- */


.callout {
  border-left: 5px solid #00BFA6;
  background-color: transparent;
  border-radius: .4rem;
  box-shadow: rgba(0, 0, 0, .05) 0 .2rem .5rem, rgba(0, 0, 0, .1) 0 0 .05rem;
  box-sizing: border-box;
  break-inside: avoid;
  line-height: 1.7;
  outline: 1px solid transparent;
  margin: 1em 0;
  outline: 1px solid transparent;
  overflow: hidden;
  padding: 0;
  tab-size: 4;
}
.callout-title {
  background-color: #00bfa61a;
  border: 0 solid #E5E7EB;
  column-gap: 4px;
  margin: 0;
  padding: 12px 0 12px 12px;
  row-gap: 4px;
  tab-size: 4;
}
.callout-content {
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  line-height: 1.7;
  margin: 0;
  padding: 5px 0px 5px 1em;
  tab-size: 4;
}

/* ------------------------------------------------------------------- */

